.chicken {
  position: relative;
  width: 100%;

  .medal-img {
    background-image: url("/medals.jpg");
    background-size: 200px;
    position: absolute;
    margin: 0 auto;
    height: 26px;
    width: 17px;
    left: 0;
    top: 10px;

    &.bronze {
      background-position: -43px -224px;
    }

    &.silver {
      background-position: -66px -224px;
    }

    &.gold {
      background-position: -91px -224px;
    }

    &.gold-plus {
      background-position: -141px -224px;
    }
  }

  .chicken-img {
    background-image: url("/chicken.gif");
    margin: 0 auto;
    height: 50px;
    width: 50px;

    &.standing-left {
      background-position: -32px -148px;
    }

    &.standing-right {
      background-position: -108px -148px;
    }

    &.sitting-left {
      background-position: -182px -148px;
    }

    &.sitting-right {
      background-position: -32px -148px;
    }

    &.feeding {
      background-position: -320px -207px;
    }
  }

  .chicken-stats {
    justify-content: space-between;
    align-items: baseline;
    display: flex;
    width: 100%;

    span {
      vertical-align: center;
      height: 20px;
    }
  }

  .actions {
    justify-content: space-between;
    margin-top: 10px;
    display: flex;
  }
}
